@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.header {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	align-items: center;
}

.menu-icon {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(0,115,171);
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.header-image {
    max-width: 70%;
}

.header-image img {
	max-width: 900px;
}

.header-nav ul {
	display: flex;
	list-style: none;
    gap: 10px;
}